
*{
	color:white;
	font: 75 12pt "Microsoft YaHei UI";
	font-weight:500;
	text-align: center;

	border-radius:5px;
	background:rgb(100,100,100);
}
QListWidget
{
	color:rgb(200,200,200);
	background:rgb(50,50,50);

}

QListWidget::item
{
	color:rgb(200,200,200);
}

QListWidget::item:hover
{
	color:rgb(255,255,255);
}

QListWidget::item::selected:active
{
	color:white;
	background:rgb(100,100,100);
	border-width:0;
}
QListWidget::item:selected
{
	color:white;
	border-width:0;

}
















